<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Lançamento</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="true"
          [showIcon]="true" [locale]="pt_BR"></p-calendar>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [locale]="pt_BR"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descição</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" [autoWidth]="false"
          placeholder="Selecione"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa {{ pessoa.value }}</label>
        <p-dropdown [options]="pessoas" [autoWidth]="false"
          placeholder="Selecione" #pessoa [filter]="true"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" ></textarea>
      </div>
      <div class="ui-g-12">
        <button type="submit" label="Salvar" pButton></button>
        <button type="button" label="Novo" pButton class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
