<div class="container">

  <form #pessoaForm="ngForm" >
    <div class="ui-g-12">
      <h1>Nova Pessoa</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText ngModel name="nome" #nome="ngModel" required minlength="5">
      <!--
      <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
      <app-message [control]="nome" error="minlength" text="Minímo de {{ nome.errors?.minlength?.requiredLength }} caracteres" ></app-message>
      -->
    </div>

    <div class="ui-g-12 ui-md-9 ui-fluid">
      <label>Logradouro</label>
      <input type="text" pInputText ngModel name="logradouro" #logradouro="ngModel" required>
      <!--
      <app-message [control]="logradouro" error="required" text="Informe o logradouro"></app-message>
      -->
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Número</label>
      <p-inputMask mask="9?999999" pInputText ngModel name="numero" #numero="ngModel" required ></p-inputMask>
      <!--
      <app-message [control]="numero" error="required" text="Informe o número"></app-message>
      -->
    </div>

    <div class="ui-g-12 ui-md-4 ui-fluid">
      <label>Complemento</label>
      <input type="text" pInputText ngModel name="complemento" >
    </div>

    <div class="ui-g-12 ui-md-4 ui-fluid">
      <label>Bairro</label>
      <input type="text" pInputText ngModel name="bairro" #bairro="ngModel" required >
      <!--
      <app-message [control]="bairro" error="required" text="Informe o bairro" ></app-message>
      -->
    </div>

    <div class="ui-g-12 ui-md-4 ui-fluid">
      <label>CEP</label>
      <p-inputMask mask="99.999-999" ngModel name="cep" #cep="ngModel" required ></p-inputMask>
      <!--
      <app-message [control]="cep" error="required" text="Informe o CEP" ></app-message>
      -->
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label>Cidade</label>
      <input type="text" pInputText ngModel name="cidade" #cidade="ngModel" required >
      <!--
      <app-message [control]="cidade" error="required" text="Informe a cidade" ></app-message>
      -->
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label>Estado</label>
      <input type="text" pInputText ngModel name="estado" #estado="ngModel" required >
      <!--
      <app-message [control]="estado" error="required" text="Informe o estado" ></app-message>
      -->
    </div>

    <div class="ui-g-12">
      <button type="submit" label="Salvar" pButton [disabled]="!pessoaForm.valid" ></button>
      <button type="button" label="Novo" pButton class="ui-button-info"></button>
      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>
  </form>
</div>
